<div class="container">  
  <h3>ProAgil Eventos</h3>
  <hr />
  <form action="">
    <div class="row">
      <div class="col mb-2">
        <input [(ngModel)]="filtroBuscar" type="text" class="form-control" placeholder="Buscar">
        <span>Teste: {{filtroBuscar}}</span>
      </div>
      <div class="col">
        <button class="btn btn-outline-success">Buscar</button>
      </div>
    </div>
  </form>
  <table class="table table-striped table-responsive">
    <thead class="table-dark">
      <tr>
        <th (click)="getExibirImagem()" class="text-center">
          <button class="btn btn-outline-info">Mostrar Imagem</button>
        </th>
        <th class="text-center">#</th>
        <th class="text-center">Tema</th>
        <th class="text-center">Local</th>
        <th class="text-center">Data</th>
        <th class="text-center">Vagas</th>
        <th class="text-center">Lote</th>
        <th class="text-center">Opções</th>
      </tr>    
    </thead>
    <tbody *ngIf="eventos && eventos.length">
      <tr *ngFor="let evento of eventos">
        <td class="text-center">
          <img *ngIf="showImg" src="http://localhost:5000/{{evento.imagePath}}" [style.width.px]="50" [style.margin.px]="2"/>
        </td>
        <td class="text-center">{{evento.eventoId}}</td>
        <td class="text-center">{{evento.local}}</td>
        <td class="text-center">{{evento.dataEvento}}</td>
        <td class="text-center">{{evento.tema}}</td>
        <td class="text-center">{{evento.qtdPessoas}}</td>
        <td class="text-center">{{evento.lote | uppercase}}</td>
        <td class="align-middle text-center">
          <button type="button" class="btn btn-primary me-2">Editar</button>
          <button type="button" class="btn btn-danger">Apagar</button>
        </td>
      </tr>
    </tbody>
    <tfoot *ngIf="!eventos.length">
      <tr>
        <td colspan="7" class=text-center>
          <h3>Nenhum item encontrado.</h3>
        </td>
      </tr>
    </tfoot>
  </table>
</div>