<app-titulo [titulo]='titulo'></app-titulo>
<div class="main">  
  <div class="">
    <div class="row g-3">
      <div class="col">
        <input [(ngModel)]="filtroBuscar" type="text" class="form-control" placeholder="Buscar por tema">
        <span>Teste: {{filtroBuscar}}</span> 
      </div>
      <div class="col">
        <button class="btn btn-outline-primary float-end" (click)="openModal(template)">
          <i class="fa fa-plus-circle"></i> 
          Novo Evento
        </button>               
      </div>      
    </div>    
  </div>
  <table class="table  table-striped table-responsive">
    <thead class="table-dark">
      <tr>
        <th (click)="getExibirImagem()" class="text-center">
          <button class="btn btn-outline-info">
            <i class="{{showImg ? 'fa fa-eye-slash' : 'fa fa-eye'}}"></i>
          </button>
        </th>
        <th class="text-center">#</th>
        <th class="text-center">Tema</th>
        <th class="text-center">Local</th>
        <th class="text-center">Data</th>
        <th class="text-center">Vagas</th>
        <th class="text-center">Lote</th>
        <th class="text-center">Opções</th>
      </tr>    
    </thead>
    <tbody *ngIf="eventos && eventos.length">
      <tr *ngFor="let evento of eventosFiltrados">
        <td class="text-center">
          <img *ngIf="showImg" src="http://localhost:5000/img/{{evento.imagePath}}" [style.width.px]="50" [style.margin.px]="2"/>
        </td>        
        <td class="text-center">{{evento.id}}</td>
        <td class="text-center">{{evento.tema}}</td>
        <td class="text-center">{{evento.local}}</td>
        <td class="text-center">{{evento.dataEvento}}</td>
        <td class="text-center">{{evento.qtdPessoas}}</td>
        <td class="text-center">
          <div *ngIf="evento.lotes.length">
            {{evento.lotes[0].nome | uppercase}}
          </div>
          <div *ngIf="!evento.lotes.length">
            Não informado
          </div>
        </td>
        <td class="align-middle text-center">
          <div class="btn btn-group">
            <button type="button" class="btn btn-primary btn-sm" tooltip="Editar" (click)="editarEvento(evento, template)">
              <i class="fa fa-edit"></i>
            </button>
            <button type="button" class="btn btn-danger btn-sm" tooltip="Excluir" (click)='openModalExcluir(evento, excluirTemplate)'>
              <i class="fa fa-eraser"></i>
            </button>
          </div>          
        </td>
      </tr>
    </tbody>
    <tfoot *ngIf="!eventos.length">
      <tr>
        <td colspan="8" class=text-center>
          <h3>Nenhum item encontrado.</h3>
        </td>
      </tr>
    </tfoot>
  </table>
</div>

<div bsModal #template="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">Evento</h4>
        <button type="button" class="close pull-right" (click)="template.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="registerForm" class="row g-3">
          <div class="col-md-12">
            <label>Tema</label>
            <input type="text" class="form-control" [ngClass]="{'is-invalid': registerForm.get('tema').errors && registerForm.get('tema').touched}" formControlName="tema" placeholder="Tema">
            <div *ngIf="registerForm.get('tema').hasError('required') && registerForm.get('tema').touched" class="invalid-feedback">
              Tema é obrigatório.
            </div>
            <div *ngIf="registerForm.get('tema').hasError('minlength') && registerForm.get('tema').touched" class="invalid-feedback">
              Tema deve ter no mínimo 2 caracteres.
            </div>
            <div *ngIf="registerForm.get('tema').hasError('maxlength') && registerForm.get('tema').touched" class="invalid-feedback">
              Tema deve ter no máximo 50 caracteres.
            </div>
          </div>  
          <div class="col-md-8">
            <label>Local</label>
            <input type="text" class="form-control" [ngClass]="{'is-invalid': registerForm.get('local').errors && registerForm.get('local').touched}" formControlName="local" placeholder="Local">
            <div *ngIf="registerForm.get('local').hasError('required') && registerForm.get('local').touched" class="invalid-feedback">
              Local é obrigatório.
            </div>
            <div *ngIf="registerForm.get('local').hasError('minlength') && registerForm.get('local').touched" class="invalid-feedback">
              Local deve ter no mínimo 2 caracteres.
            </div>
            <div *ngIf="registerForm.get('local').hasError('maxlength') && registerForm.get('local').touched" class="invalid-feedback">
              Local deve ter no máximo 50 caracteres.
            </div>
          </div>
          <div class="col-md-4">
            <label>Data</label>
            <input type="text" class="form-control" [ngClass]="{'is-invalid': registerForm.get('dataEvento').errors && registerForm.get('dataEvento').touched}" formControlName="dataEvento" placeholder="Data e Hora do Evento" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY hh:mm a' }">
            <div class="invalid-feedback">
              Data e Hora do Evento é obrigatório.
            </div>      
          </div> 
          <div class="col-md-3">
            <label>Vagas</label>
            <input type="number" class="form-control" [ngClass]="{'is-invalid': registerForm.get('qtdPessoas').errors && registerForm.get('qtdPessoas').touched}" formControlName="qtdPessoas" placeholder="Vagas">
            <div *ngIf="registerForm.get('qtdPessoas').hasError('required') && registerForm.get('qtdPessoas').touched" class="invalid-feedback">
              Quantidade de Vagas é obrigatório.
            </div>
            <div *ngIf="registerForm.get('qtdPessoas').hasError('min') && registerForm.get('qtdPessoas').touched" class="invalid-feedback">
              Quantidade de Vagas deve ser no mínimo 1.
            </div>
            <div *ngIf="registerForm.get('qtdPessoas').hasError('max') && registerForm.get('qtdPessoas').touched" class="invalid-feedback">
              Quantidade de Vagas deve ser no máximo 999.
            </div>
          </div>
          <div class="col-md-9">
            <label>Imagem</label>
            <input type="text" class="form-control" [ngClass]="{'is-invalid': registerForm.get('imagePath').errors && registerForm.get('imagePath').touched}" formControlName="imagePath" placeholder="Imagem do Evento">
            <div class="invalid-feedback">
              Imagem do Evento é obrigatório.
            </div>
          </div> 
          <div class="col-md-4">
            <label>Telefone</label>
            <input type="text" class="form-control" [ngClass]="{'is-invalid': registerForm.get('telefone').errors && registerForm.get('telefone').touched}" formControlName="telefone" placeholder="Telefone">
            <div class="invalid-feedback">
              Telefone é obrigatório.
            </div>
          </div>
          <div class="col-md-8">
            <label>E-mail</label>
            <input type="text" class="form-control" [ngClass]="{'is-invalid': registerForm.get('email').errors && registerForm.get('email').touched}" formControlName="email" placeholder="email">
            <div *ngIf="registerForm.get('email').hasError('required') && registerForm.get('email').touched" class="invalid-feedback">
              Email é obrigatório.
            </div>
            <div *ngIf="registerForm.get('email').hasError('email') && registerForm.get('email').touched" class="invalid-feedback">
              Email deve ser válido.
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer d-flex">
        <button class="btn btn-dark me-1" (click)="template.hide()">
          Fechar
        </button>
        <button class="btn btn-primary ms-auto" [disabled]="!registerForm.valid" (click)="salvarAlteracao(template)">
          Salvar Alterações
        </button>
      </div>
    </div>
  </div>
</div>  

<div bsModal #excluirTemplate="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">        
        <h4 id="dialog-sizes-name1" class="modal-title pull-left">ATENÇÃO</h4>
        <button type="button" class="close pull-right" (click)="excluirTemplate.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="registerForm" class="row g-3">
          <span class="text-center">{{mensagemExcluir}}</span>
        </form>
      </div>  
      <div class="modal-footer d-flex">
        <button class="btn btn-dark me-1" (click)="excluirTemplate.hide()">
          Fechar
        </button>
        <button class="btn btn-danger ms-auto" (click)="excluirEvento(evento.id, excluirTemplate)">
          Excluir
        </button>
      </div>    
    </div> 
  </div> 
</div>  